export API_PORT="8080"
export API_WORKERS="1"

export SQITCH_DEPLOY="local"

export POSTGRESQL_HOST="127.0.0.1"
export POSTGRESQL_PORT="5432"
export POSTGRESQL_DBNAME="votolegal_dev"
export POSTGRESQL_USER="postgres"
export POSTGRESQL_PASSWORD="postgres"

export EMAIL_SMTP_SERVER="Filling"
export EMAIL_SMTP_PORT="443"
export EMAIL_SMTP_USERNAME="Filling"
export EMAIL_SMTP_PASSWORD="Filling"
export EMAIL_DEFAULT_FROM="ciclano@domain.com"
export EMAIL_CONTACT_TO="fulano@domain.com"

export AMAZON_S3_ACCESS_KEY="Filling"
export AMAZON_S3_SECRET_KEY="Filling"
export AMAZON_S3_MEDIA_BUCKET="Filling"

export VOTOLEGAL_CIELO_MERCHANT_ID="Filling"
export VOTOLEGAL_CIELO_MERCHANT_KEY="Filling"
export VOTOLEGAL_CIELO_CALLBACK_URL="Filling"

export VOTOLEGAL_PAGSEGURO_IS_SANDBOX="1"
export VOTOLEGAL_PAGSEGURO_MERCHANT_ID="Filling"
export VOTOLEGAL_PAGSEGURO_MERCHANT_KEY="Filling"
export VOTOLEGAL_PAGSEGURO_CALLBACK_URL="Filling"

export SLACK_WEBHOOK_URL="Filling"
export SLACK_CHANNEL="Filling"
export SLACK_USERNAME="Filling"
export SLACK_ICON_EMOJI="Filling"

export RECAPTCHA_PUBKEY="Filling"
export RECAPTCHA_PRIVKEY="Filling"

export CERTIFACE_API_URL="Filling"
export CERTIFACE_LOGIN="Filling"
export CERTIFACE_PASSWORD="Filling"

export IUGU_API_URL="Filling"
export IUGU_ACCOUNT_ID="Filling"
export IUGU_API_KEY="Filling"
export IUGU_API_TEST_MODE="1"

export MANDATOABERTO_SECURITY_TOKEN="Filling"

export VOTOLEGAL_NO_GETH="1"
# hangout chat (chat.google.com)
export VOTOLEGAL_HANGOUTS_CHAT_URL=''