# rename this file to votolegal.yml and put a ':' after 'name' if
# you want to use YAML like in old versions of Catalyst
name VotoLegal

<model DB>
    <connect_info>
        dsn dbi:Pg:dbname=votolegal;host=localhost;port=5432
        AutoCommit 1
        quote_char "\""
        name_sep "."
        user postgres
        password postgres
        pg_enable_utf8 1
    </connect_info>

    <connect_info_test>
        dsn dbi:Pg:dbname=votolegal_dev;host=127.0.0.1;port=5432
        AutoCommit 1
        quote_char "\""
        name_sep "."
        auto_savepoint 1
        user postgres
        pg_enable_utf8 1
    </connect_info_test>
</model>

<amazon_s3>
    access_key                your-access-key
    secret_key                your-secret-key
    media_bucket              your-bucket
</amazon_s3>

<plugin Authentication>
	default_realm        	  default

    <realms>
    <default>
        <credential>
            class             Password
            password_field    password
            password_type     self_check
        </credential>
        <store>
            class             DBIx::Class
            user_model        DB::User
            role_relation     roles
            role_field        name
        </store>
    </default>
    </realms>
</plugin>

<sendmail>
    smtp_server               smtp.example.com
    smtp_port                 587
    smtp_username             your_user
    smtp_password             your_passwd

    default_from              no-reply@votolegal.org.br
    contact_to                contato@votolegal.org.br
</sendmail>

<slack>
    webhook_url               https://hooks.slack.com/services/XXXXXXX/XXXXXXX/XXXXXXXXXXXXX
    channel                   \#votolegal
    username                  botlegal
    icon_emoji                :robot_face:
</slack>

<ethereum>
    <testnet>
        account               your-account
        password              your-password
        address               your-contract-address
        abi                   your-contract-abi
    </testnet>

    <mainnet>
        account               your-account
        password              your-password
        address               your-contract-address
        abi                   your-contract-abi
    </mainnet>
</ethereum>

<pagseguro>
    <sandbox>
        merchant_id           your-pagseguro-sandbox-email
        merchant_key          your-pagseguro-sandbox-token
        callback_url          your-callback-server
    </sandbox>
    <production>
        merchant_id           your-pagseguro-prod-email
        merchant_key          your-pagseguro-prod-token
        callback_url          your-callback-server
    </production>
</pagseguro>

<recaptcha>
    pub_key                   your-recaptcha-pubkey
    priv_key                  your-recaptcha-privkey
</recaptcha>

<cloudflare>
    enabled                    0
    username                   your-cloudflare-username
    apikey                     your-cloudflare-password
    zoneurl                    your-site.org.br
    dns_type                   CNAME
    dns_value                  foobar.elb.amazonaws.com
</recaptcha>
